body {
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
}

.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
   animation-duration: 1s
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
  text-align: center;
}






input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  border-radius: 4px;/* this thin  for  input  desgning */

}
input[type=text]:focus {
  background-color: lightblue;

}
input[type=Password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  border-radius: 4px;
  /* this thin  for  input  desgning */

}

input[type=Passsword]:focus {
  background-color: lightblue;


}


input[type=Email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  border-radius: 4px;
  /* this thin  for  input  desgning */

}

input[type=Email]:focus {
  background-color: lightblue;

}



#SignUp {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;
 
}
#Login {
    margin: 30px;
    padding: 30px;
    top: 20px;
    background-color: #f8f8f8ea;
                                                                                                   
}

 .div-Border {    /* this is for  formm for looknh */             
    padding: 20px;
    top: 20px;
    background-color: #f8f8f8ea;
    border-style: ridge;
    border-width: 0.5px;
    border-color: dimgrey;
    margin-top: 5px;
  }